<p id="notice"><%= notice %></p>

<h1>問診</h1>

<table>
  <thead>
    <tr>
      <th>日時</th>
      <th>来院理由</th>
      <th colspan="2">体温</th>
      <th colspan="2">身長</th>
      <th colspan="2">体重</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @monshins.each do |monshin| %>
      <tr>
        <td><%= monshin.start_time %></td>
        <td><%= monshin.presenting_problem %></td>
	<td><%= monshin.temperature %></td>
	<td><%= monshin.temperature_unit %></td>
	<td><%= monshin.height_length %></td>
	<td><%= monshin.height_length_unit %></td>
	<td><%= monshin.weight %></td>
	<td><%= monshin.weight_unit %></td>
        <td><%= link_to 'Show', ehr_monshin_path(@ehr.id, monshin.id) %></td>
        <td><%= link_to 'Edit', edit_ehr_monshin_path(@ehr.id, monshin.id) %></td>
        <td><%= link_to 'Destroy', ehr_monshin_path(@ehr.id, monshin.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規問診票の作成', new_ehr_monshin_path %>
