<h1>Query</h1>

<%= form_with url: queries_path, method: :get, local: true do |form| %>
<%= form.text_area :aql %>
<%= form.submit '検索' %>
<% end %>

<% if @results['error'] %>
<%= @results %>
<% else %>
<table class="table">
  <thead>
    <tr>
      <% @results['columns'].each do |column| %>
      <th><%= column['name'] %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @results['rows'].each do |row| %>
    <tr>
      <% row.each do |item| %>
      <td><%= item %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>
